body
{
 font-size : 120%;
 background-image : url("back.jpg");
 background-repeat:no-repeat;
 background-size:cover;


}

.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3c3c3c ;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3c3c3c;
  color: white;
}


